.page-title {
  padding: 250px 0 150px;

  .container {
    position: relative;
    z-index: 1;
  }
}

.api-document-title {
  padding: 150px 0 100px;

  .container {
    position: relative;
    z-index: 1;
  }
}

.web-serial-widget-title {
  padding: 50px 0 50px;

  .container {
    position: relative;
    z-index: 1;
  }
}

.command-block {
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  margin-bottom: 50px;
  border-style: hidden hidden hidden solid;
  border-color: $primary-color;
  border-width: 2px;
}

.command {
  padding: 20px;
  // font-size: 17px;
}

.command-var {
  padding: 10px 10px 10px 10px;
}

.primary-color {
  color: $primary-color;
}

.link-list-item {
  padding: 20px;
  color: $primary-color;
}

.feature-item-marker::before {
  content: "\2055";
  color: $primary-color;
  display: inline-block;
  width: 2em;
  margin-left: -2em;
}

.feature-item {
  padding: 10px;
}

.short-hr {
  width: 30%;
  background-color: $primary-color;
  height:2px;
  border-width:0;
}

.filter-controls {
  li {
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}
