<div class="col-lg-4 col-sm-6 mb-4">
  <article class="card shadow">
    <img class="rounded card-img-top mx-auto" src="{{ device.image | relative_url }}" alt="{{ device.name }}">
    <div class="card-body">
      <h4 class="card-title">
        <a class="text-dark" href="{{ device.api_doc_url | relative_url }}">{{ device.name }}</a>
      </h4>
      <p class="card-text">{{ device.description }}</p>
      {% if device.api_doc_url %}
      <a href="{{ device.api_doc_url | relative_url }}" class="btn btn-xs btn-primary">Read More</a>
      {% else %}
      <a href="#" class="btn btn-xs btn-primary disabled" aria-disabled="true">Read More (coming soon)</a>
      {% endif %}
      {% if device.buy_link %}
      <a href="{{ device.buy_link | relative_url }}" class="btn btn-xs btn-primary">Buy</a>
      {% else %}
      <a href="#" class="btn btn-xs btn-primary disabled" aria-disabled="true">Buy (coming soon)</a>
      {% endif %}
    </div>
  </article>
</div>
