<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Getting started</h3>
      </div>
      <div class="col-md-6 mb-6 mb-md-5">
        <div class="card hover-shadow shadow">
          <div class="card-body px-4 py-5">
            <img src="{{ site.baseurl }}/{{ site.data.settings.tutorial.image }}" alt="tutorial-image" class="img-fluid rounded mx-auto d-block " style="max-height:250px;">
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-6 mb-md-5">
        <div class="card-body px-4 py-5">
          <p class="text-left">1. Connect the device to a computer using a USB cable.</p>
          <p class="text-left">2. Install a serial port terminal like <a href="https://www.putty.org/">Putty</a> or <a href="https://www.gnu.org/software/screen/">GNU Screen</a>.</p>
          <p class="text-left">3. Figure out the serial port of the device.</p>
          <p class="text-left">4. Open the serial port in the terminal.</p>
          <p class="text-left">5. Type <kbd>read about</kbd> to print out the device information.</p>
          {% comment %}
          <p>.</p>
          <p class="text-left">Detailed steps:  Mac Windows Linux</p>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
