<!-- hero area -->
<section class="hero-area bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto text-center hero-title">
        <h2 class="text-white font-tertiary">{{ site.data.settings.title }}</h2>
      </div>
      <div class="col-lg-11 mx-auto">
        <h3 class="text-white font-tertiary text-center">{{ site.data.settings.hero.hero-title }}</h3>
        <h5 class="text-white font-tertiary text-center">{{ site.data.settings.hero.hero-subtitle }}</h5>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->
