<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Command Specification</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3 mb-md-5">
        <br/>
        <h4 class="section-title">Grammar</h4>
      </div>
      <div class="col-md-9 mb-9 mb-md-5">
        <h5 class="text-left"><strong>Command input</strong></h5>
        <div class="p-3 mb-2 bg-light text-dark">
            <pre>
Input     := Verb Property

Verb      := read | write

Property  := PropertyPath | PropertyPath=Value

PropertyPath     := PropertySegment | PropertyPath.PropertySegment

PropertySegment  := [0-9a-zA-Z]+

Value            := [0-9a-zA-Z]+</pre>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3 mb-md-5">
      </div>
      <div class="col-md-9 mb-9 mb-md-5">
        <h5 class="text-left"><strong>Command output</strong></h5>
        <div class="p-3 mb-2 bg-light text-dark">
            <pre>
Output    := Property

Property  := PropertyPath=Value

PropertyPath     := PropertySegment | PropertyPath.PropertySegment

PropertySegment  := [0-9a-zA-Z]+

Value            := [0-9a-zA-Z]+</pre>
        </div>
      </div>
    </div><!-- /row -->

    <div class="row">
      <div class="col-md-3 mb-3 mb-md-5">
        <br/>
        <h4 class="section-title">Short cut</h4>
      </div>
      <div class="col-md-9 mb-9 mb-md-5">
        <p>Nonempty prefix of verb and property can be used as a shortcut in the command. If the prefix of the property matches 2 or more properties, then one of the property will be applied. We don't recommend using prefix for values to avoid unexpected interpretation due to ambiguity.</p>
        <p class="text-left"><strong>Example for reading property</strong></p>
        <kbd>read temperature</kbd>
        <br/>
        <p>can be shortened as</p>
        <kbd>read t</kbd>
        <br/>
        <p>or even shorter</p>
        <kbd>r t</kbd>
        <br/>
        <br/>
        <p class="text-left"><strong>Example for updating property</strong></p>
        <kbd>write flashlight=on</kbd>
        <br/>
        <p>can be shortened as</p>
        <kbd>w f=o</kbd>
        <br/>
        <p>Since "o" is the prefix of both "on" and "off". "w f=o" can be interpreted as either "flashlight=on" or "flashlight=off". The interpretation is implementation dependent. To avoid the ambiguity here, we can write a longer prefix for the property value:</p>
        <kbd>w f=on</kbd>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3 mb-md-5">
        <br/>
        <h4 class="section-title">Property tree</h4>
      </div>
      <div class="col-md-9 mb-9 mb-md-5">
        <p>The properties are organized in a tree like structure. You can read the root of the property tree or the root of any subtree of the properties. All property segments under the root will be printed out.</p>
        <p>Example:</p>
        <kbd>read light</kbd>
        <br/>
        <p>then, you will get all properties under the <kbd>light</kbd> :</p>
        <div class="bg-light text-dark command">
            <pre>
    light.infrared=7

    light.red=30

    light.green=26

    light.blue=5

    light.ultraviolet=1</pre>
        </div>
        <p>You can also type only <kbd>read</kbd> to print all properties under the default root. Properties under a different root, like the "about" root, will not be printed, unless you type the root or the path.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3 mb-md-5">
        <br/>
        <h4 class="section-title">The <var>device</var> property</h4>
      </div>
      <div class="col-md-9 mb-9 mb-md-5">
        <p>The <kbd>device</kbd> property provides documentation link and device information. You can update some of the sub-properties under the <kbd>device</kbd> to operate the device.</p>
        <p>You can list the properties under the <kbd>device</kbd> by entering:</p>
        <kbd>read device</kbd>
        <br/>
        <br/>
        <p> the output is:</p>
        <div class="bg-light text-dark command">
            <pre>
    device.exaberry=https://www.exaberry.org

    device.documentation=https://www.exaberry.org/DOC_PATH

    device.name=CustomizableName

    device.systick=569504

    device.id=55304086113737FFFFFFFFFF

    device.type_id=d91d15583877

    device.firmware.version=2.0

    device.hardware.version=1.0</pre>
        </div>
        <br/>
        <p><span class="primary-color">&#x2055;  </span>The <kbd>about.exaberry</kbd> gives the URL of the Exaberry home page.</p>
        <p><span class="primary-color">&#x2055;  </span>The <kbd>about.documentation</kbd> shows the URL of the documenetation of the device.</p>
        <p><span class="primary-color">&#x2055;  </span> The <kbd>device.name</kbd> is the name of the device. You can customize the device name by</p>
        <p><kbd>write device.name=Your_Desired_Device_Name</kbd></p>
        <p>The device name cannot be longer than 16 characters.</p>
        <p><span class="primary-color">&#x2055;  </span> The <kbd>device.systick</kbd> is the system ticks since powering up. The system tick is increased per microsecond. The accuracy of the system tick is usually not high enough to be used as real time clock.</p>
        <p><span class="primary-color">&#x2055;  </span>The <kbd>device.id</kbd> is the unique ID of the device.</p>
        <p><span class="primary-color">&#x2055;  </span>The <kbd>device.type_id</kbd> is the type ID of the device. Different type of device has different type_id.</p>
        <p><span class="primary-color">&#x2055;  </span>The <kbd>device.firmware.version</kbd> shows the firmware version the device.</p>
        <p><span class="primary-color">&#x2055;  </span>The <kbd>device.hardware.version</kbd> gives the hardware version the device.</p>
        <p><span class="primary-color">&#x2055;  </span>You can restart the device by entering:</p>
        <p><kbd>write device.restart=true</kbd> or <kbd>write device.restart</kbd> for short.</p>
        <p>The properties under the device root is device type and firmware version dependent. Please refer to the API document of the device for detail. The API document can be found by typing <kbd>read device.documentation</kbd></p>
      </div>
    </div>

  </div> <!-- /container -->
</section>
