---
layout: default
---

<!-- page title -->
<section class="api-document-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary h3">{{ page.title }}</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->


<!-- Introduction -->
<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Introduction</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-group">
        {%for img in page.teaser_images%}
          <div class="card">
            <img class="card-img-top" src="../{{img.file}}" alt="{{img.title}}">
            <div class="card-body text-center">
              <h5 class="card-title">{{img.title}}</h5>
            </div>
          </div>
        {%endfor%}
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <ul>
{%for feature in page.features%}
          <li class="feature-item-marker feature-item">{{feature}}</li>
{%endfor%}
        </ul>
        <br/>
      </div>
    </div>

    <div class="row justify-content-center">
{%for intro in page.introduction%}
    {%if intro.text and intro.text != ""%}
      <div class="col-md-6">
        <p>{{intro.text}}</p>
      </div>
    {%endif%}
    {%if intro.image and intro.image.file != ""%}
      <div class="col-md-12">
        <div class="card">
            <img src="../{{intro.image.file}}" class="card-img-top w-50 mx-auto d-block" alt="{{intro.image.title}}">
            <div class="card-body text-center">
              <h5 class="card-title">{{intro.image.title}}</h5>
            </div>
        </div>
      </div>
    {%endif%}
{%endfor%}
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
      <table class="table text-left table-striped">
{%for param in page.parameters%}
        <tr>
          <td>{{param.name}}</td>
          <td>{{param.value}}</td>
        </tr>
{%endfor%}
      </table>
      </div>
    </div>

</div>
</section>

<!-- GUI -->
{% for device in site.data.settings.devices %}
  {% if device.type_id == page.type_id %}
      {% if device.gui_url %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">GUI</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
      <p class="text-center"> This device has a graphical control panel</p>
      <a href="{{ device.gui_url | relative_url }}" class="btn btn-primary">Open control panel</a>
      </div>
    </div>
</div>
</section>
      {% endif %}
  {% endif %}
{% endfor %}

<!-- Examples -->
<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Examples</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
      <p>If you are not sure how to connect to your device, you can follow this <a href="{{ '/getting_started' | relative_url }}">Getting Started</a> page.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
{%for example in page.examples%}
        <h5>{{example.title}}</h5>
        <div class="p-3 mb-2 bg-light text-dark">
        <pre>
    {%for cmd in example.commands%}
&gt; {{cmd}}
    {%-endfor-%}
        </pre>
        </div>
        <p>{{example.description}}</p>
{%endfor%}
      </div>
    </div>

</div>
</section>

<section class="section">
  <div class="container">

<!-- Commands -->
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Commands</h3>
      </div>
    </div>

{% for verb in page.verbs %}
    <div class="row">
      <div class="col-md-3 mb-3 mb-md-5">
        <p></p>
        <h4 class="section-title">{{verb.verb | capitalize}}</h4>
      </div>

      <div class="col-md-9 mb-9 mb-md-5">
{% for property in verb.properties%}
        <div class="command-block">
        <h5>{{property.description}}</h5>
        <p class="rounded bg-light text-dark command">
&gt; {{verb.verb}} {{property.path}}
        </p>
  {%for explanation in property.var_explanations%}
        <p>{{explanation}}</p>
  {%endfor%}
  {%for description in property.additional_description%}
        <p>{{description}}</p>
  {%endfor%}
        </div>
{%endfor%}
      </div>

    </div>
{%endfor%}

</div>
</section>

<section class="section">
  <div class="container">
<!-- Hardware -->
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Hardware</h3>
      </div>
    </div>

  <!-- schematics -->
{%if page.design_docs and page.design_docs.size > 0%}
    <div class="row">

      <div class="col-md-3 mb-3 mb-md-5">
        <p></p>
        <h4 class="section-title">Design documents</h4>
      </div>

      <div class="col-md-9 mb-9 mb-md-5">
{%for doc in page.design_docs%}
        <div class="list-group">
            <p class="list-group-item">Version: {{doc.version}}</p>
{%if doc.schematic and doc.schematic != ""%}
            <li class="list-group-item"><a href="../design_docs/{{doc.version}}/{{doc.schematic}}">Schematic</a></li>
{%endif%}
{%if doc.bom and doc.bom != ""%}
            <li class="list-group-item"><a href="../design_docs/{{doc.version}}/{{doc.bom}}">Bill of materials</a></li>
{%endif%}
{%if doc.pos and doc.pos != ""%}
            <li class="list-group-item"><a href="../design_docs/{{doc.version}}/{{doc.pos}}">Pick and Place position file</a></li>
{%endif%}
{%if doc.gerbers and doc.gerbers != ""%}
            <li class="list-group-item"><a href="../design_docs/{{doc.version}}/{{doc.gerbers}}">Layout files (gerber)</a></li>
{%endif%}
        </div>
{%endfor%}
      </div>

    </div>
{%endif%}

  <!-- datasheets -->
{%if page.datasheets and page.datasheets.size > 0%}
    <div class="row">

      <div class="col-md-3 mb-3 mb-md-5">
        <p></p>
        <h4 class="section-title">Datasheets</h4>
      </div>

      <div class="col-md-9 mb-9 mb-md-5">
{%for sheet in page.datasheets%}
        <div class="list-group">
            <li class="list-group-item"><a href="{{sheet.link | relative_url}}">{{sheet.title}}</a></li>
        </div>
{%endfor%}
      </div>

    </div>
{%endif%}

  <!-- dim -->
    <div class="row">
      <div class="col-md-3 mb-3 mb-md-5">
        <p></p>
        <h4 class="section-title">Dimensions</h4>
      </div>

      <div class="col-md-9 mb-9 mb-md-5">
          <img src="../dims.JPG" class="rounded w-75 mx-auto d-block" alt="dimension image">
          <br/>

          <table class="table table-striped">
{%for dim in page.dims%}
            <tr>
              <td class="text-right">{{dim.name}}:</td>
              <td class="text-left">{{dim.value}}</td>
            </tr>
{%endfor%}
          </table>
      </div>
    </div>

</div>
</section>

<section class="section">
  <div class="container">
<!-- Firmware -->
{%if page.firmware and page.firmware.size > 0%}
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Firmware</h3>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <p>The <a href="../firmware_flashing/">Firmware flashing</a> page documents the steps for downloading the firmware to the device.</p>
      </div>
      <div class="col-md-4 text-left">
        <ul class="list-group">
          <li class="list-group-item"><a href="{{ '/devices/tools/GigaDevice_MCU_ISP_Programmer_V3.0.2.5782_1.zip' | relative_url}}">Firmware programmer</a></li>
{%for f in page.firmware%}
          <li class="list-group-item"><a href="../firmwares/{{f.version}}/{{f.link}}">{{f.version}}</a></li>
{%endfor%}
        </ul>
        <br/>
        <br/>
      </div>
    </div>
{%endif%}

</div>
</section>

<section class="section">
  <div class="container">
<!-- Links -->
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Links</h3>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 text-left">
        <ul class="list-group">
{%for link in page.links%}
          <li class="list-group-item"><a href="{{link.url}}">{{link.text}}</a></li>
{%endfor%}
        </ul>
      </div>
    </div>

  </div> <!-- /container -->
</section>
<!-- /commands -->

