---
layout: default
---
<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-11">
        <h3 class="text-white font-tertiary text-center">Store</h3>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Under construction</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
      <p>We are working hard to make the devices available to the general public.</p>
      </div>
    </div>

  </div> <!-- /container -->
</section>
